body{
    font-family: Arial, sans-serif;
    background-color: #D8C4FF;
}
table {
    border-collapse: collapse;
    margin: 0 auto; /* Centralizar a tabela */
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
    color: white;
}

th {
    background-color: #D8C4FF;
    color: black;
}

tr:nth-child(even) {
    background-color: #9060ee;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkbox-group input[type="checkbox"] {
    display: none; /* Ocultar as checkboxes reais */
}

.checkbox-group label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.checkbox-group label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fundo{
    background-color: #8C52FF;
}

.checkbox-group input[type="checkbox"]:checked + label::before {
    background-color: rgb(174, 0, 255); /* Cor de fundo quando a checkbox está selecionada */
}
h1{
    background-color: #8C52FF;
    color: white;
    text-align: center;
}

#submit-button {
    margin: 20px auto; /* Centralizar o botão */
    display: block;
    background-color: #00BF63;
}

.botaocadastrar{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
justify-items: center;
width: 150px;
height: 40px;
color: white;
border-style: solid;
border-width: 1px;
border-color: #C1FF72;
background-color: #00BF63;
border-radius: 10px;
font-size: 15px;
margin: 20px;
margin-left: 88px;
text-decoration: none;
text-align: center;
}