body {
    font-family: Arial, sans-serif;
    background-color: #D8C4FF;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8C52FF;
    box-shadow: 0 0 10px rgb(245, 245, 245);
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 23px;
}
.center {
    text-align: center;
}

.submit-button {
    background-color: #00BF63;
    color: rgb(255, 255, 255);
    border: none;
    padding:15px 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
}

.submit-button:hover {
    background-color: red;
}
.checkbox-label {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    color: #000;
}

.checkbox-label input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #000;
    vertical-align: middle;
    margin-right: 5px;
}

.checkbox-label input[type="checkbox"]:checked {
    background-color: #8C52FF;
}
    input[type="text"],
    input[type="number"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .imagem
    {
    margin-left: 25px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    }
    .imagem2
    {
        margin-left: 175px;
        width: 100px;
        height: 100px;
        margin-top: -90px;
    }
    .foto
    {
        margin-left: 20px;
    }